@mixin font-face ($family, $weight:400, $style:normal) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    src: url("../../fonts/#{$family}-#{$weight}-#{$style}.woff2") format("woff2");
    font-display: swap;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: none;
  background-color: #68b738;
  color: #fcfcfc;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

@mixin oswald {
  font-family: "Oswald", sans-serif;
}
