.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1220px;
  margin-inline: auto;
  padding-inline: var(--container-space, 20px);

  @include tablet-desktop {
    padding-inline: var(--container-space, 30px);
  }
}
