<section class="catalog">
  <%- include('page-header', {
     className: '',
     title: 'Каталог продукции',
     description: '',
  }) %>

  <div class="container">
    <ul class="catalog__list">
      <% for (const item of items) { %>
      <%- include('catalog-card', { ...item, className: '' }) %>
      <% } %>

      <li class="catalog-card catalog-card--alter">
        <h2 class="catalog-card__title">Показать еще 100500 товаров</h2>
        <p class="catalog-card__text">На самом деле вкусов гораздо больше!</p>
        <a class="catalog-card__button button button--alter" href="#">Показать все</a>
      </li>
    </ul>
  </div>
</section>
