<section class="contacts <%- alter ? 'contacts--alter' : '' %>">
  <div class="container">
    <div class="contacts__body">
      <h2 class="visually-hidden">Наши контакты</h2>
      <p class="contacts__title">Приглашаем к&nbsp;сотрудничеству дилеров!</p>
      <p class="contacts__text">
        ул. Большая<br>
        Конюшенная, д. 19/8
      </p>
      <p class="contacts__text">Санкт-Петербург</p>
    </div>
  </div>

  <%- include('../common/picture', {
    name: 'map',
    ext: 'png',
    alt: 'Мы на карте',
    width: 320,
    height: 362,
    tabletWidth: 768,
    tabletHeight: 400,
    desktopWidth: 1440,
    desktopHeight: 400,
  }) %>
</section>
