<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Наши контакты</h2>
    <p class="contacts__title">ПРИГЛАШАЕМ К СОТРУДНИЧЕСТВУ ДИЛЕРОВ!</p>
    <p class="contacts__adress">ул. Большая <br>Конюшенная, д. 19/8 <br>Санкт-Петербург</p>
  </div>
  <%- include('../common/picture', {
    name: 'map',
    ext: 'png',
    alt: 'Мы на карте',
    width: 320,
    height: 362,
    tabletWidth: 768,
    tabletHeight: 400,
    desktopWidth: 1440,
    desktopHeight: 400,
  }) %>
</section>
