<section class="example">
  <div class="example__container container">
    <h2 class="example__title">Живой пример</h2>
    <p class="example__text">
      Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
    </p>
    <dl class="example__list">
      <div class="example__item">
        <dt class="example__key">снижение веса</dt>
        <dd class="example__value">5 кг</dd>
      </div>
      <div class="example__item">
        <dt class="example__key">затрачено времени</dt>
        <dd class="example__value">60 дней</dd>
      </div>
      <div class="example__item-alter">
        <dt class="example__expenses">Затраты на питание:</dt>
        <dd class="example__expenses">15 000 руб.</dd>
      </div>
    </dl>
    <div class="example__pictures" style="--position: 50%">
      <% for (const { name, alt } of [
        {
          name: 'cat-fat',
          alt: 'До'
        },
        {
          name: 'cat-thin',
          alt: 'После'
        }
      ]) { %>
        <%- include('../common/picture', {
          name,
          ext: 'png',
          alt,
          width: 280,
          height: 256,
          tabletWidth: 560,
          tabletHeight: 512,
          desktopWidth: 0,
          desktopHeight: 0,
        }) %>
      <% } %>
      <button class="example__comparator" type="button">
        <span class="visually-hidden">Изменить соотношение</span>
        <svg width="40" height="40" aria-hidden="true" focusable="false">
          <use href="icons/stack.svg#thumb" />
        </svg>
      </button>
    </div>
  </div>
</section>
