<footer class="main-footer">
  <%- include('contacts') %>
  <div class="container">
    <a class="main-footer__logo logo" href="index.html">
      <img class="logo__image" src="images/logo-text.svg" width="128" height="24" alt="logo">
    </a>
    <%- include('social') %>
    <a class="main-footer__copyright copyright" href="https://htmlacademy.ru">
      <span class="copyright__text">HTML Academy</span>
      <img class="copyright__image" src="images/logo-html.svg" width="27" height="34" alt="">
    </a>
  </div>
</footer>
