<header class="main-header">
  <div class="container">
    <a class="main-header__logo logo" href="index.html">
      <img class="logo__image" src="images/logo-img.svg" width="33" height="38" alt="logo">
    </a>
    <a class="main-header__logo-text logo" href="index.html" aria-hidden="true ">
      <img class="logo__image" src="images/logo-text.svg" width="101" height="18" alt="logo-text">
    </a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link navigation__item--current" href="index.html">
            Главная
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="catalog.html">
            Каталог продукции
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="programs.html">
            Подбор программы
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
