<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      Функциональное питание для котов
    </h1>
    <p class="hero__text">
      Занялся собой? Займись котом!
    </p>
    <%- include('../common/picture', { name: 'hero-image', ext: 'png', alt: 'Товар' }) %>
    <a class="hero__button button" href="programs.html">
      Подобрать программу
    </a>
  </div>
</section>
