<footer class="main-footer">
  <%- include('contacts', { alter: page === 'index' }) %>
  <div class="main-footer__container container">
    <a class="main-footer__logo logo" href="index.html">
      <img class="logo__image" src="images/logo-text.svg" width="128" height="24" alt="logo">
    </a>
    <%- include('social', { className: 'main-footer__social' }) %>
    <a class="main-footer__copyright copyright" href="https://htmlacademy.ru">
      <span class="copyright__text">HTML Academy</span>

      <svg class="copyright__image" width="27" height="34" role="img" focusable="false">
        <use href="images/logo-html.svg#logo" />
      </svg>
    </a>
  </div>

  <% if (isDevelopment) { %>
  <script>
    window.pixelperfect = {
      breakpoints: [320, 768, 1440],
      folder: 'pixelperfect',
      ext: 'png',
    };
  </script>
  <script src="pixelperfect/pixelperfect.min.js" defer></script>
  <% } %>
</footer>
