<header class="main-header">
  <div class="main-header__container container">
    <a class="main-header__logo logo" href="index.html">
      <picture>
        <source media="(min-width: 1440px)" srcset="images/logo-img-desktop.svg" width="202" height="59">
        <source media="(min-width: 768px)" srcset="images/logo-img-tablet.svg" width="174" height="50">
        <img class="logo__image" src="images/logo-img.svg" width="33" height="38" alt="logo">
      </picture>
    </a>

    <a class="main-header__logo-text logo" href="index.html" aria-hidden="true ">
      <img class="logo__image" src="images/logo-text.svg" width="101" height="18" alt="logo-text">
    </a>

    <nav class="main-header__navigation navigation">
      <button class="navigation__toggler" type="button">
        <span class="visually-hidden">Переключить меню</span>
      </button>

      <ul class="navigation__list">
        <% for (const { id, title } of [
          {
            id: 'index',
            title: 'Главная',
          },
          {
            id: 'index',
            title: 'Каталог продукции',
          },
          {
            id: 'index',
            title: 'Подбор программы',
          },
        ]) { %>
        <li class="navigation__item">
          <a class="navigation__link <%- page === id ? 'navigation__link--current' : '' %>" href="<%- id %>.html">
            <%- title %>
          </a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
