<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <title>Cat energy - 404</title>
</head>

<body class="page__body">
  <main>
    <h1>404</h1>
    <p>Страница не найдена. <a href="/">Перейти на главную</a>.</p>
  </main>
</body>

</html>
