<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <title>Cat Energy - Programs</title>
  <%- include('common/meta') %>
</head>

<body class="page__body">
  <%- include('blocks/main-header') %>

  <main>
    <%- include('blocks/page-header', {
    className: '',
    title: 'Подбор программы',
    description: 'Заполните анкету, и мы подберем<br>программу питания для вашего кота',
  }) %>

    <p>
    <h1><b>- - - СТРАНИЦА В РАЗРАБОТКЕ - - -</b></h1>
    </p>
  </main>

  <%- include('blocks/main-footer') %>
</body>

</html>
