.advantages {
  padding-block: 20px 49px;

  @include tablet-desktop {
    padding-block: 45px 44px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.advantages__title {
  @include title;

  margin: 0 0 40px;

  @include tablet-desktop {
    margin-bottom: 32px;
  }
}

.advantages__list {
  counter-reset: advantages;
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablet-desktop {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 60px;
  }
}

.advantages__item {
  counter-increment: advantages;
  position: relative;
  min-height: 54px;
  padding: 2px 0 4px 80px;
  color: #444444;

  @include tablet-desktop {
    min-height: 72px;
    padding: 150px 60px 60px 0;
  }

  &::before {
    --size: 60px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    font-size: 280px;
    line-height: 1;
    color: #f2f2f2;
    background: #68b738;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 60px;

    @include tablet-desktop {
      --size: 80px;
      top: 40px;
    }
  }

  &::after {
    @include oswald;

    content: "";
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
    min-width: 134px;
    font-size: 280px;
    line-height: 1;
    text-align: center;
    color: #f2f2f2;

    @include tablet-desktop {
      content: counter(advantages);
    }
  }

  @each $icon in (leaf, food, powder, time) {
    &--#{$icon}::before {
      background-image: url("../../icons/#{$icon}.svg");
    }
  }
}
