.example {
  --background: #eaeaea;
  position: relative;
  padding-block: 25px 40px;
  background-color: var(--background);

  @media (min-width: 320px) {
    overflow-x: clip;
  }

  @include tablet-desktop {
    --background: #ffffff;
    padding-block: 45px 100px;
  }

  @include desktop {
    --background: #f2f2f2;
    padding-block: 0 74px;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 462px;
    background-color: #eaeaea;

    @include tablet {
      content: "";
    }
  }
}

.example__container {
  @include desktop {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title pictures" "text pictures" "list pictures";
    gap: 0 100px;
    align-items: start;
  }
}

.example__title {
  @include title;

  grid-area: title;
  position: relative;
  z-index: 1;
  margin: 0 0 40px;

  @include tablet-desktop {
    margin-bottom: 60px;
  }

  @include desktop {
    margin-bottom: 70px;
    padding-block: 20px 78px;

    &::before {
      content: "";
      position: absolute;
      inset: 0 -50vw;
      z-index: -1;
      background-color: #ffffff;
    }
  }
}

.example__text {
  grid-area: text;
  margin: 0 0 20px;
  color: #444444;

  @include tablet-desktop {
    margin-bottom: 55px;
  }

  @include desktop {
    margin: 0 128px 70px 0;
  }
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: list;
  gap: 20px 32px;
  margin: 0 0 22px;
  padding: 0;
  list-style: none;
}

@include tablet-desktop {
  grid-template-columns: repeat(2, 162px) 1fr;
  gap: 43px;
  align-items: center;
  margin-bottom: 100px;
}

@include desktop {
  grid-template-columns: repeat(2, 162px);
  row-gap: 55px;
  margin-bottom: 100px;
}

.example__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  text-align: center;
}

.example__key {
  position: relative;
  width: fit-content;
  margin: -10px auto 0;
  padding: 0 18px;
  font-size: 12px;
  line-height: 1;
  color: #444444;
  background-color: var(--background);

  @include mobile {
    max-width: calc(100% - 68px);
  }

  @include tablet-desktop {
    margin-top: -9px;
    padding: 0 9px;
    font-size: 14px;
  }
}

.example__value {
  @include oswald;

  margin: 0;
  padding: 14px 15px 16px;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 2px;

  @include tablet-desktop {
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-alter {
  @include oswald;

  grid-column: 1 / -1;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    grid-column: span 1;
    text-align: right;
  }

  @include tablet-desktop {
    display: grid;
    gap: 9px;
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 24px;
  }
}

.example__expenses {
  margin: 0;

  @include mobile {
    display: inline;
  }

  @include tablet-desktop {
    font-size: 20px;
    line-height: 1;
  }
}

.example__pictures {
  --value: var(--position, 50%);
  position: relative;
  grid-area: pictures;
  max-width: 280px;
  margin: 0 auto;

  @include tablet-desktop {
    z-index: 1;
    max-width: 560px;
  }

  @include desktop {
    align-self: end;
    margin-bottom: 10px;
  }

  img {
    display: block;
  }

  picture:first-of-type img {
    clip-path: inset(0 calc(100% - var(--value, 0)) 0 0);
  }

  picture:last-of-type img {
    position: absolute;
    top: 0;
    right: 0;
    clip-path: inset(0 0 0 var(--value, 0));
  }
}

.example__comparator {
  @include button;

  left: var(--value);
  margin: 0;
  padding: 0;
  color: #666666;
  background-color: transparent;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: rgba(#5eaa2f, 0.6);
  }

  &,
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
  }

  &::before {
    content: "";
    left: 50%;
    width: 4px;
    background-color: currentColor;
    border-radius: 2px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
