.example {
  padding-block: 25px 40px;
  background-color: #eaeaea;
}

.example__title {
  @include oswald;

  margin: 0 0 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  margin: 0 0 20px;
  color: #444444;
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 32px;
  margin: 0 0 22px;
  padding: 0;
  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  text-align: center;
}

.example__key {
  position: relative;
  width: fit-content;
  max-width: calc(100% - 68px);
  margin: -10px auto 0;
  padding: 0 18px;
  font-size: 12px;
  line-height: 1;
  color: #444444;
  background-color: #eaeaea;
}

.example__value {
  @include oswald;

  margin: 0;
  padding: 14px 15px 16px;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__item-alter {
  @include oswald;

  grid-column: 1 / -1;
  text-transform: uppercase;
  text-align: center;
}

.example__expenses {
  display: inline;
  margin: 0;
}

.example__pictures {
  --value: var(--position, 50%);
  position: relative;
  max-width: 280px;
  margin: 0 auto;

  @include tablet-desktop {
    max-width: 560px;
  }

  img {
    display: block;
  }

  picture:first-of-type img {
    clip-path: inset(0 calc(100% - var(--value, 0)) 0 0);
  }

  picture:last-of-type img {
    position: absolute;
    top: 0;
    right: 0;
    clip-path: inset(0 0 0 var(--value, 0));
  }
}

.example__comparator {
  @include button;

  left: var(--value);
  margin: 0;
  padding: 0;
  color: #666666;
  background-color: transparent;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: rgba(#5eaa2f, 0.6);
  }

  &,
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
  }

  &::before {
    content: "";
    left: 50%;
    width: 4px;
    background-color: currentColor;
    border-radius: 2px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
