.hero {
  padding-block: 0 20px;
  text-align: center;

  @include oswald;

  img {
    display: block;
    margin: -135px auto 3px;
  }
}

.hero__content {
  min-height: 244px;
  margin-inline: -20px;
  padding: 26px 20px 32px;
  color: #ffffff;
  background-color: #68b738;
}

.hero__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @include tablet-desktop {
    font-size: 60px;
  }
}

.hero__text {
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
}

.hero__button {
  width: 100%;
  margin: 0;
}
