.main-header__logo-text {
  transform: translateX(-5px);
}

.main-header__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-block: 13px 14px;
}
