.main-header {
  position: relative;
}

.main-header__logo-text {
  transform: translateX(-5px);

  @include tablet-desktop {
    display: none;
  }
}

.main-header__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-block: 13px 14px;

  @include tablet-desktop {
    padding-block: 25px;
  }

  @include desktop {
    padding-block: 55px 30px;
  }
}
