.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include mobile {
    position: absolute;
    right: 0;
    left: 0;
    visibility: hidden;
    border-top: 1px solid #d9d9d9;
  }
}

.navigation__toggler {
  @include button;

  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.navigation__opened {
  .navigation__list {
    display: block;
    visibility: visible;
  }
}

.navigation__button {
  width: 18px;
  height: 18px;
}
