.subscription {
  @include oswald;

  padding-block: 40px;
}

.subscription__title {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.subscription__text {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.subscription__mail {
  margin-bottom: 16px;
}

.subscription__button {
  width: 100%;
}
