.subscription {
  @include oswald;

  padding-block: 40px;

  @include tablet-desktop {
    padding-block: 80px;
  }

  @include desktop {
    padding-block: 95px 104px;
  }
}

.subscription__title {
  @include subtitle;

  margin: 0 0 32px;

  @include tablet-desktop {
    margin-bottom: 66px;
  }

  @include desktop {
    margin-bottom: 72px;
  }
}

.subscription__text {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  @include tablet-desktop {
    margin-inline: 30px;
    font-size: 24px;
    line-height: 32px;
  }
}

.subscription__form {
  @include tablet-desktop {
    display: grid;
    grid-template-columns: 1fr 256px;
    margin-inline: 38px;
  }

  @include desktop {
    max-width: 752px;
    margin-inline: auto;
  }
}

.subscription__mail {
  @include mobile {
    margin-bottom: 16px;
  }
}

.subscription__button {
  width: 100%;
}
